.graphs {
    display: flex;
    gap: 2rem;
}

.graph {
    width: 40%;
    height: auto;
}

.language {
    width: 40%;
    height: auto;
}

.streak {
    margin-top: 2rem;
    
    text-align: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}